@using ParkingSystem.ViewModels
@model ParkingSystem.ViewModels.SlotAvailabilityViewModel
@using Microsoft.AspNetCore.Mvc.Rendering

<div id="authData" data-auth="@(User.Identity.IsAuthenticated.ToString().ToLower())">
    <div class="container mt-4">

        <h2>Slot Availability</h2>

        <form method="post">

            <!-- Date -->
            <div class="mb-3">
                <input type="datetime-local"
                name="Date"
                id="dateInput"
                class="form-control"
                value="@Model.Date.ToString("yyyy-MM-ddTHH:mm")"
                step="60" />
            </div>



            <!-- Duration -->
            <div class="mb-3">
                <label>Duration (Hours)</label>
                <input id="durationInput"
                       name="DurationHours"
                       type="number"
                       class="form-control"
                       value="@Model.DurationHours"
                       min="1"
                       required />
            </div>


            <button class="btn btn-primary">Search</button>
        </form>

        <hr />

        <!-- SLOT GRID -->
        @if (Model.AvailableSlots != null && Model.AvailableSlots.Any())
        {
            var grouped = Model.AvailableSlots
            .GroupBy(s => new { s.ParkingArea.BlockNumber, s.ParkingArea.VehicleType });

            foreach (var areaGroup in grouped)
            {
                var area = areaGroup.First().ParkingArea;

                <div class="mt-4">
                    <h4 class="text-primary">
                        Block @area.BlockNumber - @area.VehicleType (৳ @area.HourlyRate / hour)
                    </h4>

                    <div class="row">

                        @foreach (var slot in areaGroup)
                        {
                            <div class="col-md-2 mb-2">
                                <button type="button"
                                        class="btn btn-outline-success slot-btn"
                                        data-id="@slot.SlotId"
                                        data-rate="@slot.ParkingArea.HourlyRate">
                                    @slot.SlotNumber
                                </button>
                                
                            </div>
                        }

                    </div>
                </div>
            }

            <!-- Selected count -->
            <p class="mt-3">
                Selected Slots: <span id="countDisplay">0</span>
            </p>

            <!-- Total -->
            <p class="mt-2 fw-bold text-success">
                Total Amount: <span id="totalAmount">0</span>
            </p>

            <button type="button" class="btn btn-success mt-3" onclick="bookSlots()">
                Book Now
            </button>
        }

    </div>
</div>